<div class="navOverlap"></div>

<nav class="navbar navbar-expand-lg footerStyle fixed-bottom">
    <div class="container-fluid">

        <div class="col-3 text-start">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link lightFont" href="#"><i class="bi bi-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lightFont" href="#"><i class="bi bi-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lightFont" href="#"><i class="bi bi-twitter-x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-6 text-center">

            <p class="nav-link dynapuff">Contact: tableajeu@gmail.com</p>

        </div>
        <div class="col-3 text-end">
            <a class="nav-link dynapuff" href="#">&copy;Table à jeux</a>
        </div>
    </div>

</nav>