<div class="container-fluid pb-5">
    <div class="row mb-5">
        <h2 class="dynapuff pt-5">Bienvenue dans notre Foire Aux Questions !</h1>
    </div>
    <div class="row mb-2">
        <div class="accordion" id="accordion0">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button dynapuff" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        Qu'est-ce que La Table à Jeux ?
                    </button>
                </h2>
                <div id="collapse0" class="accordion-collapse collapse show" data-bs-parent="#accordion0">
                    <div class="accordion-body">
                        <strong class="dynapuff">La Table à Jeux est une association dédiée à la promotion et à l'organisation
                            d'événements centrés sur les jeux de société.</strong> Elle offre un espace convivial où les
                        passionnés peuvent se réunir pour jouer, apprendre et partager leur amour des jeux de plateau de
                        tout type.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion1">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed dynapuff" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        Quels types d'événements propose La Table à Jeux ?
                    </button>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <strong class="dynapuff">La Table à Jeux organise une variété d'événements,</strong> notamment des soirées de
                        jeux libres, des soirées jeux de rôle et des séances de découverte de nouveaux jeux.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion2">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed dynapuff" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Comment puis-je participer aux événements de La Table à Jeux ?
                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordion2">
                    <div class="accordion-body">
                        <strong class="dynapuff">Pour participer aux événements de La Table à Jeux, vous pouvez vous inscrire
                            gratuitement sur notre site web.</strong> Consultez notre calendrier d'événements et
                        sélectionnez ceux auxquels vous souhaitez participer. Une fois inscrit, venez simplement à
                        l'événement et profitez du plaisir du jeu !
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion3">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed dynapuff" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        La Table à Jeux est-elle ouverte à tous les âges ?
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordion3">
                    <div class="accordion-body">
                        <strong class="dynapuff">Oui, La Table à Jeux accueille les joueurs de tous âges, des enfants aux
                            adultes.</strong> Nous proposons des jeux adaptées à chaque groupe d'âge et veillons à
                        ce que nos événements soient accessibles à tous.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion4">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed dynapuff" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Comment puis-je contribuer à La Table à Jeux ?
                    </button>
                </h2>
                <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordion4">
                    <div class="accordion-body">
                        <strong class="dynapuff">Vous pouvez noter les jeux pour nous aiguiller.</strong> Le site de La Table à Jeux vous
                        propose un système d'étoiles pour noter les jeux que vous préférez ou non, afin de nous indiquer
                        quels sont les jeux les plus plebiscités.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion5">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed dynapuff" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        Comment puis-je être notifié des évènements auxquels je me suis inscrit ?
                    </button>
                </h2>
                <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordion5">
                    <div class="accordion-body">
                        <strong class="dynapuff">En activant les alertes liées à chaque évènement.</strong> Le site propose sur votre
                        page de compte d'activer des alertes pour que vous soyez notifié en cas d'annulation ou si
                        l'évènement approche.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>