<div class="container-fluid pb-5">
    <div class="row mb-5">
        <h2 class="dynapuff pt-5">Bienvenue dans notre Foire Aux Questions !</h1>
    </div>
    <div class="row mb-2">
        <div class="accordion" id="accordion0">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button accordionTitle" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        Qu'est-ce que OSEVC ?
                    </button>
                </h2>
                <div id="collapse0" class="accordion-collapse collapse show" data-bs-parent="#accordion0">
                    <div class="accordion-body">
                        <strong>Organiser Son Enterrement de Vie de Celibataire</strong> en se coordonnant avec la team marié.e. Pour se répartir les tâches, pour avoir un planning clair et même déjà une liste d'idées d'activités, de partenaires possibles.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion1">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed accordionTitle" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                        Quels types de services propose OSEVC ?
                    </button>
                </h2>
                <div id="collapse1" class="accordion-collapse collapse" data-bs-parent="#accordion1">
                    <div class="accordion-body">
                        <strong>OSEVC</strong> propose une série d'outils permettant de s'organiser en groupe et d'avoir une visibilité sur l'ensemble des préparatifs au premier coup d'oeil.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion2">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed accordionTitle" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        Si j'ai un soucis avec l'un des outils, proposé, à qui puis-je m'adresser ?
                    </button>
                </h2>
                <div id="collapse2" class="accordion-collapse collapse" data-bs-parent="#accordion2">
                    <div class="accordion-body">
                        <strong>Contactez notre équipe</strong> grâce à notre messagerie directe.
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="accordion3">
            <div class="accordion-item border-success my-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed accordionTitle" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        A qui s'adresse OSEVC ?
                    </button>
                </h2>
                <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordion3">
                    <div class="accordion-body">
                        <strong>A tous et toutes.</strong> D'un groupe de deux personnes à 20 ou plus, il est possible
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>