<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Organise le meilleur EVJF/EVJG</h1>
        </div>
    </div>
    <div class="row dispNoneMob">
        <div class="col-md-8 mx-auto">
            <p>Vous devez organiser ce fameux séjour pour célébrer la fin du célibat de votre ami.e ? Cet espace est
                fait pour vous et votre team ! Des outils essentiels, un tableau de bord qui regroupe les infos
                essentielles, un décompte pour faire monter la pression... <br>
            </p>
        </div>
    </div>
    <div class="row lightGreyBg">
        <div class="col-md-8 mx-auto">
            <div style="height: 20px"></div>
            <p>blabla</p>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <h3>Des questions à propos de l'organisation et du fonctionnement ? Consultez notre foire aux questions !
            </h3>
            <a href="/FAQ" class="btn btnOrange float-end mt-5 me-5"> Consulter la FAQ &#x279b;</a>
        </div>

    </div>
   
</div>
{{!-- <script src="/js/slider.js" defer></script> --}}