<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Bienvenue sur La Table à Jeux</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aut, dolores quos soluta accusamus,
                ex
                quasi cumque ab magnam odit aliquam expedita? Distinctio sapiente impedit maxime. Libero culpa rem
                temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aut, dolores quos soluta
                accusamus, ex
                quasi cumque ab magnam odit aliquam expedita? Distinctio sapiente impedit maxime. Libero culpa rem
                temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aut, dolores quos soluta
                accusamus, ex
                quasi cumque ab magnam odit aliquam expedita? Distinctio sapiente impedit maxime. Libero culpa rem
                temporibus!</p>
        </div>
    </div>
    <div class="row lightGreyBg">
        <div class="col-md-6 mt-5">
            <div style="height: 20px"></div>

            <div class="wiper">
                <button class="wiper-button wiper-button__right">
                    <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png" alt="left" />
                </button>
                <div class="wiper-wrapper">
                    <ul class="wiper-track">
                        <li class="wiper-item">
                            <img class="wiper__image" src="https://pic.clubic.com/v1/images/1719003/raw"
                                alt="background-image" />
                            <button class="swiper__image-button">Click me</button>
                        </li>
                        <li class="wiper-item active-swipe">
                            <img class="wiper__image"
                                src="https://cherry.img.pmdstatic.net/fit/https.3A.2F.2Fimg.2Egaming.2Egentside.2Ecom.2Fs3.2Ffrgsg.2F1280.2Fpokemon.2Fdefault_2021-09-17_71ac89a8-ee41-4567-a8be-75a41188302a.2Epng/1200x675/quality/80/cartes-pokemon.jpg"
                                alt="background-image" />
                            <button class="swiper__image-button">Click me</button>
                        </li>
                        <li class="wiper-item">
                            <img class="wiper__image"
                                src="https://leszexpertsfle.com/wp-content/uploads/2017/05/lgt10.jpg"
                                alt="background-image" />
                            <button class="swiper__image-button">Click me</button>
                        </li>
                        <li class="wiper-item">
                            <img class="wiper__image"
                                src="https://www.numerama.com/wp-content/uploads/2017/10/galerapagos-cover.jpg"
                                alt="background-image" />
                            <button class="swiper__image-button">Click me</button>
                        </li>
                        <li class="wiper-item">
                            <img class="wiper__image"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTznMdLhl-LNCG6BvoN5cj_TC3EdVVaJOC4ng&usqp=CAU"
                                alt="background-image" />
                            <button class="swiper__image-button">Click me</button>
                        </li>
                        <li class="wiper-item">
                            <img class="wiper__image"
                                src="https://m.media-amazon.com/images/I/91CmDNtRSOL._AC_UF1000,1000_QL80_.jpg"
                                alt="background-image" />
                            <button class="swiper__image-button">Click me</button>
                        </li>
                    </ul>
                </div>
                <button class="wiper-button wiper-button__left">
                    <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png" alt="right" />
                </button>
            </div>
            <div style="height: 30px"></div>
        </div>
        <div class="col-md-6 mt-5">
            <h3>Voir les évènements</h3>
            <div class="row mt-5">
                <div class="col-md-4"><img src="https://cdn-icons-png.flaticon.com/128/726/726165.png"></div>
                <div class="col-md-4"><img src="https://cdn-icons-png.flaticon.com/128/6378/6378368.png"></div>
                <div class="col-md-4"><img src="https://cdn-icons-png.flaticon.com/128/1626/1626883.png"></div>
            </div>
            <button class="btn btn-success float-end mt-5 me-5"> Voir plus &#x279b;</button>

        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, aut, dolores quos soluta accusamus,
                ex
                quasi cumque ab magnam odit aliquam expedita? Distinctio sapiente impedit maxime. Libero culpa rem
                temporibus!</p>
        </div>
        <div style="height: 80px"></div>
    </div>
</div>