<form action="" method="post">
    <H2 class="dynapuff text-center">Inscription</H2>
    <div class="row my-5">
        <div class="col-6 mx-auto">
            <div class="mb-3">
                <label for="username" class="form-label">Votre Nom</label>
                <input name="name" type="name" class="form-control" id="username" placeholder="Votre nom">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Votre Prénom</label>
                <input name="lastname" type="lastname" class="form-control" id="username" placeholder="Votre prénom">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Rentrer votre adresse email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="nom@exemple.fr">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Rentrer votre mot de passe</label>
                <input name="password" type="password" class="form-control" id="password">
            </div>

            <div class="mb-3">
                <label for="confPassword" class="form-label">Confirmer votre mot de passe</label>
                <input name="confPassword" type="password" class="form-control" id="confPassword">
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-success" type="submit">Envoyer</button>
            </div>
        </div>
    </div>
</form>