<form action="" method="post">
    <H1 class="dynapuff text-center">Connexion</H1>
    <div class="row my-5">
        <div class="col-6 mx-auto">
            <div class="mb-3">
                <label for="email" class="form-label">Rentrer votre adresse email</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="nom@exemple.fr">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Rentrer votre mot de passe</label>
                <input name="password" type="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-success" type="submit">Envoyer</button>
            </div>
            <span> Pas encore inscris ? <a href="/log_in"> Inscris-toi</a></span>
        </div>
    </div>
</form>