<div class="container-fluid">
    <div class="row">
        <h2 class="dynapuff">Mon compte</h2>
    </div>
    <div class="row">
        <img src="" alt="">
        <h3 class="dynapuff">Prénom Nom</h3>
    </div>

    {{!-- EVENTS --}}

    <div class="row py-2">
        <h3 class="dynapuff">Events auxquels vous êtes inscrit</h3>
        {{!-- {{#each events}} --}}
        <div class="col-3">
            <div class="card border-success">
                <div class="card-body">
                    <h5 class="card-title dynapuff"><i class="bi bi-dice-2"></i> Event name <i class="bi bi-dice-2"></i>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary dynapuff"><i class="bi bi-calendar-date"></i> le
                        01/01/2024 à 12:00</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link btn btn-danger rounded-pill">Se désincrire</a>
                    <a href="" class="card-link btn btn-warning rounded-pill"><i class="bi bi-alarm"></i>Ajouter un rappel</a>
                    <a href="#" class="card-link">Jeu joué</a>
                </div>
            </div>
        </div>
        {{!-- {{/each}} --}}
    </div>
</div>