main {
    margin: 3em 0;
}

:root {

    --bg-light: #F8F8F8;
    --bg-light-grey: #f4f4f4;
    --bg-grey: #c3c3c3;
    --bg-orange: #FFAE35;
    --bg-orange-light: rgba(255, 174, 53, 0.7);
    --bg-darkblue: #0064A3;
    --bg-darkred: #A30000;
    --bg-green: #5CD451;
    --bg-black: #222222;
    --title-font: "DynaPuff", system-ui;
    --main-font: "Roboto", sans-serif;
}

body {
    background-color: var(--bg-light);
}

.dynapuff,
h1 {
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
}
h2{
    font-family: "DynaPuff", system-ui;
    text-align: center;
}

h3{
    margin: 20px 0;
}

.navStyle {
    background-color: var(--bg-orange);
}

.footerStyle {
    background-color: var(--bg-darkblue);
    color: var(--bg-light);
}

.lightFont {
    color: var(--bg-light);
}
.blueFont {
    color: var(--bg-darkblue);
}
.orangeFont {
    color: var(--bg-orange);
}

.lightGreyBg {
    background-color: var(--bg-light-grey);
}

.btnGrey{
    background-color: var(--bg-grey);
    padding: 10px 20px;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 1px 1px 2px grey;
}

.btnGrey{
    background-color: var(--bg-grey);
    border: 2px solid var(--bg-grey);
    padding: 10px 20px;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 1px 1px 3px grey;
}
.btnGrey:hover{
    border: 2px solid var(--bg-grey);
    box-shadow: none;
}

.navOverlap{
    height: 60px;
}

.btnOrange{
    background-color: var(--bg-orange);
    border: 2px solid var(--bg-orange);
    color: var(--bg-light);
    font-family: var(--main-font);
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 5%;
    margin-top: 5%;
    box-shadow: 1px 1px 3px grey;
}
.btnOrange:hover{
    border: 2px solid var(--bg-orange);
    color: var(--bg-orange);
    box-shadow: none;
}
.btnBleu{
    background-color: #0064A3;
    color: #f4f4f4;
}

/* aspect des badges bleus */
.text-bg-darkblue {
    color: var(--bg-light);
    background-color: var(--bg-darkblue);
}

/* aspect du dropdown de la FAQ */

.accordion-button:not(.collapsed) {
    color: var(--bg-black);
    background-color: var(--bg-orange);
}
.accordion-button {
    color: var(--bg-black);
    background-color: var(--bg-orange-light);
}

/*position des images*/
.imgCover{
    object-fit: cover;
}

/**************************** VERSION MOBILE ********************************/

@media screen and (min-width: 300px) and (max-width: 768px) {
    .dispNoneMob {
        display: none;
    }

    h1{
        font-size: 4vh;
    }
    
}

@media(max-width:999px){
    .navOverlap{
        height: 150px;
    }
}